html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.guard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #6495ED;
}


.b{
    display: block
}
.JSOutput {
    color: #FA8072;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.textS {
    font-size: 4em;
    color: #FFD700;
    font-family: 'Algerian', sans-serif;
}

.back {
    font-size: 2em;
    color: #F8F8FF;
    font-family: 'Algerian', sans-serif;
    z-index: -100;

}

